<VirtualHost *:80>

	DocumentRoot /var/www/bluespice

	RewriteEngine On
	RewriteRule ^/*$ %{DOCUMENT_ROOT}/w/index.php [L]
	RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/w/index.php [L]

	AllowEncodedSlashes NoDecode

	<Directory /var/www/bluespice>
		Options FollowSymLinks MultiViews
		AllowOverride None
		Require all granted
	</Directory>

	<Directory /var/www/bluespice/w/images>
		AllowOverride None
		AddType text/plain .html .htm .shtml .phtml .php .php3 .php4 .php5 .php7
		php_admin_flag engine off
		Require all granted
	</Directory>

	<Directory /var/www/bluespice/w/cache>
		Require all denied
	</Directory>

	<DirectoryMatch .git>
		Require all denied
	</DirectoryMatch>

	ErrorLog ${APACHE_LOG_DIR}/error-bluespice.log
	LogLevel warn
	CustomLog ${APACHE_LOG_DIR}/access-bluespice.log combined
	ServerSignature On

</VirtualHost>
